node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.env.local
.env.production.local
.env.development.local
.turbo
build
.cache
.vercel
.output
.remix
apps/web/build
apps/web/node_modules
sanity-studio/node_modules
.gitignore
.env.vercel
